.cbdr {
  border: 1px solid red;
}

header {
  height: 80px;
  border: 1px solid #000;
}

main {
  height: 1600px;
  border: 1px solid #000;
}

footer {
  height: 390px;
  border: 1px solid #000;
}


@media (min-width: 1200px) {
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1305px;
}

}